@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@radix-ui/themes/styles.css';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.bg2 {
  background: #00002D;
}

.bg-default {
  background: #18191b;
}

.bg-lightgrey {
  background: #202224;
}

.bg-lime-fade {
  background: rgba(39, 209, 127, 0.1);
}

.bg-card-body {
  background-color: #0c0e10;
}

.bg-card-header {
  background-color: #111315;
}

.border-lime-dark {
  border-color: #006258;
}

.border-default {
  border-color: #16181a;
}

.lime-border {
  border: 1px solid #27D17F;
}

.lime {
  color: #27D17F;
}


.primary-text {
  color: white;
}

.secondary-text {
  color: grey;
}

@keyframes scaleClick {
  0% { transform: scale(1); }
  50% { transform: scale(0.95); }
  100% { transform: scale(1); }
}
