@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@radix-ui/themes/styles.css';

:root {
  --primary: #006258;
  --primary-hover: #8AB7B2;
  --primary-disabled: rgba(0, 98, 88, 0.2);

  --secondary-default: #FFFFFF;

  --text-primary: #F7F7F8;
  --text-secondary: #ABAFB4;
  --text-disabled: rgba(171, 175, 180, 0.6);
  --text-button: #FFFFFF;

  --background-default: #080A0B;
  --background-elevation-1: #0C0E10;
  --background-elevation-2: #111315;
  --background-elevation-3: #16181A;

  --states-success-default: #27D17F;
  --states-success-elevation-1: rgba(39, 209, 127, 0.1);
  --states-success-elevation-2: rgba(39, 209, 127, 0.5);

  --states-error-default: #F44336;

  --states-warning-default: #FFC107;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@keyframes scaleClick {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}

.embla {
  overflow: hidden;
  width: 100%;
}

.embla__container {
  display: flex;
  overflow: hidden;
}

.embla__slide {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 1rem;
}

.embla__controls {
  display: none;
}