.link {
    font-size: 14px;
}

.link:hover {
    color: #8AB7B2;
}

.howBtn {
    color: #ABAFB4;
    border: 1px solid #8AB7B2;
}

.profBtn {
    background-color: #16181A;
}

.profBtn:hover {
    background-color: #2f3337;
}